[Unit]
Description=Perform backup of SOURCE to DESTINATION
After=local-fs.target

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
